<div class="row container-fluid">
<div class=col-md-3>
</div>
<div class="col-md-6">
<% if logged_in? %>
  <h1>salut toi !</h1>
  <p class="welcome">bienvenue à toi visiteur dans cette super boite </p>
  <p class="welcome"><%= link_to "Clique ici pour accéder à la suite", index_path %></p>

<% else %>
  <h1>hi, !</h1>
  <p class="welcome">welcom saint tropez !!</p>
  <p class="welcome"><%= link_to "Connecte-toi ici", login_path %> ou <%= link_to "Inscris-toi ici", new_user_path %> pour accéder à la page privée</p>
<% end %>
</div>
<div class=col-md-3>
</div>
</div>
