/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* general  */
body {
  background-color: rgb(243, 242, 245);
  padding-top: 60px;
  overflow-x: hidden;
  margin-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.nav {
  height: 60px;
  font-size: 15px;
  padding-top: 10px;
}

.dropdown-menu {
  background-color: rgb(166, 166, 166);
  border-radius: 5px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms  */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

.checkbox span {
  margin-left: 20px;
  font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(45, 46, 47);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.showtext p {
  font-size: 20px;
}

.showtext #sijamais {
  font-size: 15px;
  font-variant:small-caps;
}

.members {
  margin-bottom: 50px;
}

.table-striped {
  // text-align: center;
  margin-left: auto;
 margin-right: auto;
  width: 70%;
}

#profilebutton {
  margin-left: 220px;
  margin-top: 50px;
}
